.home{
    width:100vw;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.search {
	height: 50px;
	width: 300px;
	border-radius: 25px;
	margin-top: 20px;
	background-color: #f8d6be;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	gap: 10px;
	color: #ff9a56;
	font-size: 24px;
}

.search input {
	border: none;
	border-radius: 25px;
	height: 100%;
	width: 100%;
	font-size: 16px;
	outline: none;
	background: transparent;
}